
#main-map {
	height: 100%;
	width: 100%;
}

#main {
	z-index: 1;
	position: relative;
}

.kitty-pic {
	display: inline;
	position: relative;
	height: 15px;
	width: 15px;
	margin-right: 8px;
}

.gold {
	position: absolute;
	z-index: 2;
}

.textInfo{
	position: relative;
	display: inline;
	float: right;
	z-index: 3;
	font-size: 12pt;
	color: Crimson;
	background-color: white;
	padding: 7px;
}

.textInput {
	height: 20px;
	width: 60px;
	position: relative;
	z-index: 2;
}
