
#main-map {
	height: 100%;
	width: 100%;
}

#main {
	z-index: 1;
	position: relative;
}

.kitty-pic {
	display: block;
	position: relative;
	height: 15px;
	width: 15px;
}

.gold {
	position: absolute;
	z-index: 2;
}

.textInfo{
	position: relative;
	z-index: 3;
	font-size: 14pt;
	color: Crimson;
}

.textInput {
	height: 20px;
	width: 60px;
	position: relative;
	z-index: 2;
}
